body {
  margin: 0;
}

header {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  background-color: #fff;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

nav {
  display: flex;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding-top: 22.5px;
  padding-bottom: 22.5px;
  position: relative;
}

.img {
  margin-top: 10px;
  margin-bottom: 10px;
}

a:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
}

.is-active::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00b3e6;
  border-radius: 10px;
}
